<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>{{ partial "head.html" . }}</head>

<body class="white-background">
  <div id="all">
    {{ partial "banner.html" .}}
    <div class="row">
      <div class="col-xs-10 col-sm-8 col-md-6 content-column col-center">
        <div class="row">
          <div>
            <div class="content-column-content">
              <h1 class="articleTitle">{{ .Params.articleTitle }}</h1>
              <hr>
              {{ .Content }}
              {{ template "_internal/disqus.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>ƒ
  </div>
</body>