{{ define "main" }}
<div class="col-10 col-sm-6 col-md-10">
    <h1 id="main">{{ .Site.Title }}</h1>

    <p id="main">{{ .Site.Params.homeSubtitle}}</p>

    <div class="row highlight-container">
        <div class="row">
            <div class="col-md-4 highlight">
                <p class="category">CINEMA</p>
                <a class="title" href="#">Fado, Films, and Good fun: iberoDocs 2020</a>
                <div class="rest"></div>
                <img class="served-with" width="65px" src="./Burrito_Icona.png" />
            </div>
            <div class="col-md-4 highlight">
                <p class="category">CINEMA</p>
                <a class="title" href="#">The Lighthouse: a high-seas allegory of perdition</a>
                <div class="rest"></div>
                <img class="served-with" width="65px" src="./Beer_Icona.png" />
            </div>
            <div class="col-md-4 highlight">
                <p class="category">CINEMA</p>
                <a class="title" href="#">Five New Pope objects that rightly Deserve to Be Turned into Fetish</a>
                <div class="rest"></div>
                <img class="served-with" width="65px" src="./Cross_Icona.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 highlight">
                <p class="category">CINEMA</p>
                <a class="title" href="#">Ando So, This is BoJack - Horseman, Obviously</a>
                <div class="rest"></div>
                <img class="served-with" width="65px" src="./Martini_Icona.png" />
            </div>
            <div class="col-md-4 highlight">
                <p class="category">CINEMA</p>
                <a class="title" href="#">Uncut Gems: A Masterpiece of American Dreams and Cinematic Nightmares</a>
                <div class="rest"></div>
                <img class="served-with" width="65px" src="./Hamburger.png" />
            </div>
            <div class="col-md-4 highlight">
                <p class="category">CINEMA</p>
                <a class="title" href="#">Bait: Britons, Brace Yourselves, Your New Bard is Here to Stay</a>
                <div class="rest"></div>
                <img class="served-with" width="65px" src="./Fish_Icona.png" />
            </div>
        </div>
    </div>
</div>
{{ end }}