{{ define "main" }}
<div class="col-10 col-sm-6 col-md-10">
    <h1 id="main">{{ .Site.Title }}</h1>

    {{- with .Site.Params.homeSubtitle }}
    <h2 id="main">{{.}}</h2>
    {{- end }}

    <div class="row highlight-container">
        <div class="col-md-4 highlight">
            <p class="category">CINEMA</p>
            <a class="title" href="#">Why do we watch Dark?</a>
            <div class="rest"></div>
        </div>
        <div class="col-md-4 highlight">
            <p class="category">CINEMA</p>
            <a class="title" href="#">And so, this is BoJack - Horseman, obviously</a>
            <div class="rest"></div>
        </div>
        <div class="col-md-4 highlight">
            <p class="category">CINEMA</p>
            <a class="title" href="#">Fado, Films, and Good Fun: IberoDocs 2020</a>
            <div class="rest"></div>
        </div>
    </div>
</div>
{{ end }}